body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#app {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
h2 {
    font-family: "Avenir Next Cyr Medium", sans-serif;
}
